<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXaq_nwUiRvaGvtjLPeMLs-geVbKxjbsc</string>
	<key>GCM_SENDER_ID</key>
	<string>820949965721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YanRybkin.BookLovers</string>
	<key>PROJECT_ID</key>
	<string>booklovers-6fc11</string>
	<key>STORAGE_BUCKET</key>
	<string>booklovers-6fc11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820949965721:ios:c503ae4402150ecf03d108</string>
</dict>
</plist>